# chcai MI450 A0 CWSR-handler test: one-shot entry booted once via grub-reboot. Same kernel, initrd
# and cmdline as the default entry plus modprobe.blacklist=amdgpu and chcai_cwsrfix=1.
# Safe to delete; see /var/lib/chcai-cwsrfix/README.txt.
menuentry 'chcai-cwsrfix-oneshot' --id chcai-cwsrfix-oneshot {
	load_video
	gfxmode $linux_gfx_mode
	insmod gzio
	if [ x$grub_platform = xxen ]; then insmod xzio; insmod lzopio; fi
	insmod part_gpt
	insmod ext2
	search --no-floppy --fs-uuid --set=root 4c8a0bce-9d2d-46e7-b424-981fb6fb8c98
	linux	/boot/vmlinuz-6.14.0-37-generic root=UUID=4c8a0bce-9d2d-46e7-b424-981fb6fb8c98 ro  panic=0 nowatchdog msr.allow_writes=on nokaslr amdgpu.noretry=1 pci=realloc=off modprobe.blacklist=device_dax,dax_hmem,amdgpu iommu=pt console=tty0 console=ttyS1,115200n8 preempt=full rcu_nocbs=all chcai_cwsrfix=1
	initrd	/boot/initrd.img-6.14.0-37-generic
}
